{{extend 'layout.html'}}

{{block head}}

<script>
    var my_url = "{{=URL('api', 'my_method')}}";


</script>

{{end}}

<v-app
    id="inspire"
    dark
    v-cloak
  >
    <v-navigation-drawer
      v-model="drawer"
      fixed
      clipped
      app
    >
      <v-list dense>
        <v-list-tile v-for="item in items" :key="item.text" @click="changePage(item.text)">
          <v-list-tile-action>
            <v-icon>${ item.icon }</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              ${ capitalize(item.text) }
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-subheader class="mt-3 grey--text text--darken-1">Friends</v-subheader>
        <v-list-tile class="mt-3" @click="logout()">
          <v-list-tile-action>
            <v-icon color="grey darken-1">add_circle_outline</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="grey--text text--darken-1">Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="red"
      dense
      fixed
      clipped-left
      app
    >
		<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
		<v-icon class="mx-3">fa fa-crown</v-icon>
		<v-toolbar-title class="mr-5 align-center">
		<span class="title">Gym Helper</span>
		</v-toolbar-title>
		<v-spacer></v-spacer>
		<v-tooltip bottom color="red">
			<v-btn icon slot="activator" @click.native="page='login'">
				<v-icon>person</v-icon>
			</v-btn @click= "showpicture">
			 <img src="photo"> 
			<span>Login</span>
	    </v-tooltip>
    </v-toolbar>
    <v-content>
      <v-container fill-height>
        <v-layout justify-center align-center row wrap fluid>
        	<v-flex xs12>
				<v-layout row wrap>
					<v-flex xs12
							id="login"
							v-show="page == 'login'">
						<div id="firebaseui-auth-container"></div>
					</v-flex>
					<v-flex xs12
							id="introduction"
							class="text-xs-center title"
							v-show="page == 'introduction'">
						<div>introduction</div>
						  <v-carousel>
    						<v-carousel-item  v-for="(item,i) in items" :src="item.src" :key="i" ></v-carousel-item>
  		</v-carousel>
					</v-flex>
					<v-flex xs12
							id="leaderboard"
							class="text-xs-center title"
							v-show="page == 'leaderboard'">
						<div>leaderboard</div>
					</v-flex>


					<v-flex
							id="Profile"
							class="text-xs-center title"
							v-show="page == 'Profile'">

                        <v-card >
								<v-card
									width="900px">
								<v-card-media
										class="white--text"
										 height="900px"
										light class="pa-3"
										src="/gymhelper183New/static/images/profileBG.jpg"
								>
									<v-form ref="form">
                                        <v-select
											v-model="inputGender"
											label="Gender"
											:items="genderSelect"
											required
											>
                                        </v-select>
                                         <v-text-field
											v-model="inputAge"
											label="Age"
											required
											>
										</v-text-field>
									    <v-text-field
											v-model="inputHeight"
											label="Height"
											required
											>
										</v-text-field>
									    <v-text-field
											v-model="inputWeight"
											label="Weight"
											required
											>
										</v-text-field>

                                         <v-text-field
											v-model="inputBFR"
											label="BFR"
											required
											>
										</v-text-field>
									    <v-select
											v-model="favoritefoodSelect"
											label="Favorite Food"
											:items="favoritefoodSelect"
											required
											>
									    </v-select>
                                        <v-select
											v-model="favoritegameSelect"
											label="Favorite Game"
											:items="favoritegameSelect"
											required
											>
									    </v-select>
									    <v-btn
									      @click="submitprofile">
									      submit
									    </v-btn>
									    <v-btn @click="clear">clear</v-btn>
									</v-form>
								</v-card>
						</v-card>
						</v-layout>

					</v-flex>
                        </v-jumbotron>

					<v-flex xs12
							id="journal"
							class="text-xs-center title"
							v-show="page == 'journal'">


						<v-container fluid>
    					<v-layout row  >
						<v-flex xs4>
						  <v-card
						  	width="500px">
							<v-card-media
							  class="white--text"
							  height="450px"

							  src="/gymhelper183/static/images/running.jpg"
							>
							  <v-container fill-height fluid>
								<v-layout fill-height>
								  <v-flex xs12 align-end flexbox>
									<span class="headline">Aerobic Exercise</span>
								  </v-flex>
								</v-layout>
							  </v-container>
							</v-card-media>
							<v-card-title>
								<v-container grid-list-xl>

     							 <v-flex>
								<v-select
										v-model="aerobicExerciseSelect"
										label="Select Exercise"
										:items="aerobicExerciseList"
										required
										light>
								</v-select>
								</v-flex>
     							 <v-flex>
								 <v-text-field
											v-model="miles"
											label="Miles"
											required
											light
								 ></v-text-field>
								</v-flex>

								<v-text-field
											v-model="hours"
											label="hours"
											required
											light
								></v-text-field>
								<v-text-field
											v-model="minutes"
											label="minutes"
											required
											light
								></v-text-field>

  								</v-container>
							</v-card-title>
							<v-card-actions>
							  <v-btn @click="submitJournal1">Submit</v-btn>
							</v-card-actions>
						  </v-card>
						</v-flex>

						<v-flex xs4>

						</v-flex>


						<v-flex xs4>
						  <v-card
						  	width="500px">
							<v-card-media
							  class="white--text"
							  height="450px"

							  src="/gymhelper183/static/images/pushUp.jpg"
							>
							  <v-container fill-height fluid>
								<v-layout fill-height>
								  <v-flex xs12 align-end flexbox>
									<span class="headline">Anaerobic Exercise</span>
								  </v-flex>
								</v-layout>
							  </v-container>
							</v-card-media>
							<v-card-title>

								<v-container grid-list-xl>

     							 <v-flex>
								<v-select
										v-model="anaerobicExerciseSelect"
										label="Select Exercise"
										:items="anaerobicExerciseList"
										required
										light>
								</v-select>
								</v-flex>
     							 <v-flex>
								 <v-text-field
											v-model="sets"
											label="Sets"
											required
											light
								 ></v-text-field>
									 </v-flex>
      								<v-flex>
								<v-text-field
											v-model="repetitions"
											label="Repetitions"
											required
											light
								></v-text-field>
								 </v-flex>
									<v-text-field
											v-model="time"
											label="time"

											light
								 ></v-text-field>
  								</v-container>
							</v-card-title>
							<v-card-actions>
							 <v-btn @click="submitJournal2">Submit</v-btn>
							</v-card-actions>
						  </v-card>
						</v-flex>
				  		</v-layout>
					</v-container>
				</v-flex>
				</v-layout>
        	</v-flex>
        </v-layout>
      </v-container>
		 <v-footer height="auto" class="grey darken-3">
 			<v-flex 4xs>
				<v-card-title class="white--text">
        		<strong class="subheading">Developing Tools</strong>
				  </v-card-title>
				<div>
				  <v-btn flat icon color="blue lighten-2">
      				<v-icon>fa-google</v-icon>
				  </v-btn>
					 Firebase
				 </div>
				<div>
				  <v-btn flat icon color="blue lighten-2">
      				<v-icon>fa fa-file-word-o</v-icon>
				  </v-btn>
					 web2py
				 </div>
				<div>
				  <v-btn flat icon color="blue lighten-2">
      				<v-icon>fa fa-hand-peace-o</v-icon>
				  </v-btn>
					 Vue.js
				 </div>
			 </v-flex>
			  <v-flex 4xs >
			      <v-card-title class="white--text">
        		<strong class="subheading">Get connected with us!</strong>
				  </v-card-title>
				 <div>
					 <v-btn flat icon color="blue lighten-2">
					  <v-icon>fa fa-weibo</v-icon>
				  </v-btn>
				  <v-btn flat icon color="blue lighten-2">
				  	<v-icon>fa-facebook</v-icon>
				  </v-btn>
				 </div>
				 <div>
					 <v-btn flat icon color="blue lighten-2">
					  <v-icon>fa fa-qq</v-icon>
				  </v-btn>
				  <v-btn flat icon color="blue lighten-2">
				  	<v-icon>fa-twitter</v-icon>
				  </v-btn>
				 </div>
				 <div>
				<v-btn flat icon color="blue lighten-2">
					  <v-icon>fa fa-wechat</v-icon>
				  </v-btn>
				  <v-btn flat icon color="blue lighten-2">
					  <v-icon>fa-instagram</v-icon>
				  </v-btn>
				 </div>
			 </v-flex>
			 <v-flex 4xs>
				 <v-card-title class="white--text">
        		<strong class="subheading">Contact Us!</strong>
				  </v-card-title>
				 <div>
				  <v-btn flat icon color="blue lighten-2">
      				<v-icon>fa-envelope</v-icon>
				  </v-btn>
					 slug@ucsc.edu
				 </div>
				 <div>
				 <v-btn flat icon color="blue lighten-2">
      				<v-icon>fa-home</v-icon>
				  </v-btn>
				 Santa Cruz, CA, US, 95064
				 </div>
				 <div>
				  <v-btn flat icon color="blue lighten-2">
      				<v-icon>fa-phone</v-icon>
				  </v-btn>
					 831-XXX-XXXX
				 </div>
			 </v-flex>
		 </v-footer>
		<v-card>
	   	</v-card-text>
			<v-card-actions class=" dark justify-center">
        &copy;2018 Spring — <strong>GymHelper183 Team</strong>
      		</v-card-actions>
    	</v-card>
    </v-content>
</v-app>




